



.textInput-medium {
    height: 100px;
}

.medium {
    height: 24px;
    padding: 6px !important;
}

.larger {
    height: 38px;
    padding: 9px !important;
}


form {
    font-size: 12px;
}

input{
    font-size: 12px;
    margin-top: .3em;
}