.box {
    width: 8%;
    height: 20px;

    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}

.box:hover {
    cursor: pointer;
}


.thisDiv {
   
    width: 20%;
    display: flex;
}

.blue {
    color: blue;
}