#box {
    height: 13px;
    width: 13px;
    border: solid;
    border-width: thin;
    margin-right: 10px;
}

.checked {
    background-image: url('./checkedBlack.png');
    background-size: contain;
}

.checkedBlue {
    background-image: url('./checkedBlue.png');
    background-size: contain;
    border-color: blue;
}

#containThis {
    display: flex;
}